{% if section.settings.show_notify_me %}
    {% assign has_first_margin_top = true %}
      <div class="as-notify-me-modal notify-me-modal modal fade" id="notify-me" tabindex="-1" aria-labelledby="notifMeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content border-0">
            <button type="button" class="btn p-0 mt-2 me-2 as-close btn-close btn-modal-close icon-wrap-md" data-bs-dismiss="modal" aria-label="Close">
              {% render 'icon-close-circle' %}
            </button>
            <div class="modal-body p-0">
              <div class="modal-inner-content p-6">
                <div class="notify-me-modal-wrap as-notify-me-modal-wrap position-relative">
                  <div class="success-wrap">
                    <div class="sucess-content absolute-center d-flex justify-content-center align-items-center">
                      <div class="text-center">
                        <div class="icon-wrap-xl mb-4 text-success">
                          {% render 'icon-check-circle' %}
                        </div>
                        <h3 class="mb-1">{{ 'products.subscribe.success_title' | t }}</h3>
                        <div class="text-muted">{{ 'products.subscribe.success_message' | t }}</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-wrap">
                    {% if section.settings.notify_me_heading != blank %}
                      <h2 class="h3 mb-0 text-center">{{ section.settings.notify_me_heading }}</h2>
                      {% assign has_first_margin_top = false %}
                    {% endif %}
                    {% if section.settings.notify_me_text != blank %}
                      <div class="mb-0 {% unless has_first_margin_top %}mt-3{% endunless %} text-center text-muted no-last-margin richtext-with-link">{{ section.settings.notify_me_text }}</div>
                      {% assign has_first_margin_top = false %}
                    {% endif %}
                    <div class="{% unless has_first_margin_top %}mt-6{% endunless %}">
                      {% assign api = settings.subscribe_api %}
                      {% form 'customer', id: 'notify-me-contact_form', data-action: api, data-customize: true, class: 'as-notify-me-form as-validate-form notify-me-form', novalidate: 'novalidate', autocomplete: "off" %}
                        {% if api == blank %}
                          <input type="hidden" name="contact[tags]" value="{{ section.settings.subscribe_tag }}">
                        {% else %}
                          <input class="as-notify-me-tags" type="hidden" name="tags" value="">
                        {% endif %}
                        <div class="position-relative">
                          <div class="">
                            <div class="form-pristine">
                              <input
                                data-pristine-required-message="{{ 'products.subscribe.email_error_message' | t }}"
                                data-pristine-email-message="{{ 'products.subscribe.email_error_message' | t }}"
                                type="email"
                                {% if api != blank %} name="email" {% else %} name="contact[email]"  {% endif %}
                                class="form-control input-pristine"
                                value="{{ customer.email }}"
                                aria-required="true"
                                autocorrect="off"
                                autocapitalize="off"
                                autocomplete="email"
                                placeholder="{{ 'products.subscribe.placeholder' | t }}"
                                required
                              >
                            </div>
                            {% if section.settings.notify_me_note != blank %}
                              <div class="no-last-margin mt-2 text-muted fs-footnote">{{ section.settings.notify_me_note }}</div>
                            {% endif %}
                            <div class="d-grid mt-3">
                              <button type="submit" class="as-btn-anim btn-relative btn btn-primary">
                                <span class="as-spinner visually-hidden spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                {{ 'products.subscribe.submit' | t }}
                              </button>
                            </div>
                            <div class="text-danger as-error-tips d-none">{{ 'products.subscribe.error_message' | t }}</div>
                          </div>
                        </div>
                      {% endform %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
    