{%- liquid
  assign language_direction = 'ltr'

  case request.locale.iso_code
    when 'ar', 'arc', 'dv', 'fa', 'ha', 'he', 'kwh', 'ks', 'ku', 'ps', 'ur', 'yi'
      assign language_direction = 'rtl'
  endcase
-%}

<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}" dir="{{ language_direction }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.colors_default_background }}">

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- else -%}
      <link rel="icon" href="data:,">
    {%- endif -%}

    <link rel="preconnect" href="https://cdn.shopify.com">

    {%- unless settings.type_headings_font.system? and settings.type_body_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    <title>
      {%- if template.name == 'password' or template.name == 'gift_card' -%}
        {{ shop.name }}
      {%- else -%}
        {{ page_title }}
        {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
        {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
        {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
      {%- endif -%}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}

    {%- unless settings.type_headings_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_headings_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}

    {%- unless settings.type_body_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_body_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}

    <script async src="{{ 'es-module-shims.min.js' | asset_url }}"></script>
    <script type="importmap">
      {
        "imports": {
          "@loess/photoswipe": "{{ 'photoswipe.min.js' | asset_url }}",
          "@loess/theme": "{{ 'theme.js' | asset_url }}",
          "@loess/vendor": "{{ 'vendor.min.js' | asset_url }}"
        }
      }
    </script>

    <link rel="modulepreload" href="{{ 'vendor.min.js' | asset_url }}" as="script">
    <link rel="modulepreload" href="{{ 'theme.js' | asset_url }}" as="script">

    {% render 'css-variables' %}
    {% render 'js-variables' %}

    {{ 'jquery-3.6.0.min.js' | asset_url | script_tag }}
    {{ 'gsap.min.js' | asset_url | script_tag }}
    {{ 'ScrollTrigger.min.js' | asset_url | script_tag }}
    {{ 'swiper.min.js' | asset_url | script_tag }}
    <script type="module" src="{{ 'vendor.min.js' | asset_url }}"></script>
    <script type="module" src="{{ 'theme.js' | asset_url }}"></script>
    {% if template.name == 'product' %}
      <script type="module" src="{{ 'size.js' | asset_url }}"></script>
    {% endif %}

    

    {{ content_for_header }}

    {{- 'theme.css' | asset_url | stylesheet_tag: preload: true -}}
    {{ 'swiper.min.css' | asset_url | stylesheet_tag: preload: true }}
    {{- 'custom.css' | asset_url | stylesheet_tag: preload: true -}}
  </head>

  <body
    class="{% if settings.type_headings_capitalize %}capitalize-headings{% endif %} {% if settings.buttons_text_capitalize %}capitalize-buttons{% endif %} {% if settings.navigation_text_capitalize %}capitalize-navigation{% endif %}"
    {% if settings.enable_page_animation %}
      is="page-animator"
    {% endif %}
  >
    <a class="skip-to-content-link button button--primary button--large sr-only" href="#MainContent">
      {{ 'accessibility.skip_to_text' | t }}
    </a>

    {%- liquid
      if template.name != 'password' and template.name != 'gift_card'
        sections 'header-group'

        if settings.cart_flow == 'popup'
          render 'cart-notification'
        endif
      else
        section 'header-alternate'
      endif
    -%}

    {%- if template.name != 'password' and template.name != 'gift_card' -%} 
      <script>
        (() => {
          let headerGroupElements = '.shopify-section-group-header-group:not(.shopify-section--announcement-bar):not(.shopify-section--header), .shopify-section-group-header-group .announcement-bar';

          if (!parseInt(getComputedStyle(document.documentElement).getPropertyValue('--enable-transparent-header'))) {
            headerGroupElements += `, .shopify-section--header`;
          }

          const headerElements = document.querySelectorAll(headerGroupElements);

          const resizeObserver = new ResizeObserver(entries => {
            let headerGroupHeight = 0;

            for (const entry of headerElements) {
              headerGroupHeight += entry.clientHeight;
            }

            document.documentElement.style.setProperty('--header-group-height', `${headerGroupHeight}px`);
          });

          headerElements.forEach(element => {
            resizeObserver.observe(element);
          });
        })();
      </script>
    {%- endif -%}

    {% if page.template_suffix contains 'landing-page' %}
      <style>
        .test{
          position: fixed;
          z-index: 99999;
          left: 0;
          right: 0;
          bottom: 0;
          pointer-events: none;
        }
        .santa{
          position: fixed;
          z-index: 99999;
          max-width: 20%;
          width: 130px;
        }
        .santa img{
          width: 100%;
        }
        .santa-1{
          top: 0;
          left: 0;
        }
        .santa-2{
          top: 0;
          right: 0;
          display: none;
        }
        .santa-3{
          bottom: 0;
          left: 0;
        }
        .santa-4{
          bottom: 50%;
          right: 0;
        }
      </style>
      <div class="santa-box">
        <img class="santa santa-1" loading="lazy" width="" height="" src="https://cdn.shopify.com/s/files/1/0513/1036/2802/files/left.webp?v=1701747639">
        <img class="santa santa-3" loading="lazy" width="" height="" src="https://cdn.shopify.com/s/files/1/0513/1036/2802/files/santa2.png?v=1701747639">
        <div class="santa santa-4">
          <img class="santa-img" loading="lazy" width="" height="" src="https://cdn.shopify.com/s/files/1/0513/1036/2802/files/santa3.png?v=1701755496">
        </div>
      </div>
      <div class="test">
        <canvas id="snowCanvas"></canvas>
      </div>
      <script defer>
        // 获取Canvas和上下文
        const canvas = document.getElementById('snowCanvas');
        const ctx = canvas.getContext('2d');

        // 设置Canvas大小
        canvas.width = window.innerWidth;
        canvas.height = window.innerHeight;

        // 存储雪花信息的数组
        let snowflakes = [];

        // 自定义雪花形状
        const snowflakeImage = new Image();
        snowflakeImage.src = 'https://cdn.shopify.com/s/files/1/0513/1036/2802/files/snow.png?v=1701670190'; // 替换为你的雪花图片路径

        // 创建雪花对象
        function createSnowflake() {
          const size = Math.random() * 30 + 5; // 调整雪花大小范围
          const isBlurred = Math.random() > 1; // 随机选择是否模糊
          return {
            x: Math.random() * canvas.width,
            y: -10,
            size: size, // 调整雪花大小范围
            speedY: Math.random() * 1 + 0.5, // 垂直速度变慢
            speedX: (Math.random() - 0.5) * 1, // 水平速度
            rotation: Math.random() * 360, // 初始旋转角度
            isBlurred: isBlurred,
            // blurAmount: isBlurred ? Math.random() * 2 + 1 : 0, // 添加模糊效果
            blurAmount: isBlurred ? 2 : 0, // 降低模糊效果的程度
          };
        }

        // 绘制雪花
        function drawSnowflakes() {
          ctx.clearRect(0, 0, canvas.width, canvas.height);
          for (let i = 0; i < snowflakes.length; i++) {
            const flake = snowflakes[i];
            ctx.save();
            ctx.translate(flake.x, flake.y);
            ctx.rotate(flake.rotation * Math.PI / 180); // 将角度转为弧度进行旋转
            ctx.drawImage(snowflakeImage, -flake.size / 2, -flake.size / 2, flake.size, flake.size);
            ctx.restore();
            if (flake.isBlurred) {
              // ctx.opacity = `0.5`;
              ctx.filter = `blur(3px)`;
            }

            flake.y += flake.speedY;
            flake.x += flake.speedX;
            flake.rotation += 0.5; // 旋转速度
            
            if (flake.y > canvas.height || flake.x > canvas.width || flake.x < 0) {
              snowflakes[i] = createSnowflake();
            }
          }
        }

        // 更新并绘制动画
        function animateSnowfall() {
          drawSnowflakes();
          requestAnimationFrame(animateSnowfall);
        }

        // 初始化雪花数组
        for (let i = 0; i < 60; i++) {
          snowflakes.push(createSnowflake());
        }

        // 开始动画
        animateSnowfall();

        document.querySelector('.santa-4').addEventListener('click', function() {
          this.style.display = 'none';
        });
      </script>
    {% endif %}
    <main id="MainContent" class="template-{{ template.name }}" role="main">
      {{ content_for_layout }}
    </main>

    {%- liquid
      if template.name != 'password' and template.name != 'gift_card'
        sections 'footer-group'
        sections 'overlay-group'

        if settings.cart_flow == 'drawer' and template.name != 'cart'
          render 'cart-drawer'
        endif
      elsif template.name == 'password'
        section 'footer-password'
      endif
    -%}

    <loess-overlay class="overlay"></loess-overlay>
  </body>
</html>
