{%- liquid
  assign show_heading = false

  if section.settings.title != blank or section.settings.text != blank or section.settings.button_label != blank
    assign show_heading = true
  endif
-%}

{%- style -%}
  #shopify-section-{{ section.id }} {
    --padding-top: {{ section.settings.padding_top }};
    --padding-bottom: {{ section.settings.padding_bottom }};
    --initial-drag-position: {{ section.settings.initial_drag_position }}%;
    --text-position: {% if section.settings.text_position == 'center' %}center{% else %}flex-{{ section.settings.text_position }}{% endif %};

    {%- if section.settings.custom_colors -%}
      --color-foreground: {{ section.settings.color_foreground.red }}, {{ section.settings.color_foreground.green }}, {{ section.settings.color_foreground.blue }};
      --color-background: {{ section.settings.color_background.red }}, {{ section.settings.color_background.green }}, {{ section.settings.color_background.blue }};
      --color-gradient: {% if section.settings.color_gradient != blank %}{{ section.settings.color_gradient }}{% else %}{{ section.settings.color_background }}{% endif %};
    {%- endif -%}
  }

  /* We add custom styling for when the image is set to "Adapt to first image" for both mobile and large devices */
  {%- if section.settings.height_mobile == 'auto' or section.settings.height_large == 'auto' -%}
    {%- if section.settings.height_mobile == 'auto' -%}
      @media (max-width: 750px) {
        #shopify-section-{{ section.id }} .banner__media--mobile-auto {
          padding-bottom: {{ 1 | divided_by: section.settings.first_image.aspect_ratio | times: 100 }}%;
        }
      }
    {%- endif -%}

    {%- if section.settings.height_large == 'auto' -%}
      @media (min-width: 751px) {
        #shopify-section-{{ section.id }} .banner__media--large-auto {
          padding-bottom: {{ 1 | divided_by: section.settings.first_image.image.aspect_ratio | times: 100 }}%;
        }
      }
    {%- endif -%}
  {%- endif -%}
{%- endstyle -%}

<div class="section {% if section.settings.custom_colors %}color-custom{% else %}color color-{{ section.settings.color_scheme }}{% endif %} color-gradient">
  <div class="section-vertical-spacer">
    {%- if show_heading -%}
      <header class="section-heading {% if section.settings.center_heading_text %}section-heading--centered{% endif %} container container--capped">
        {%- if section.settings.title != blank -%}
          <h2 {% if settings.animations_heading != 'none' %}is="loess-heading"{% endif %} class="section-heading__heading {{ section.settings.heading_size }} animate">
            {% render 'heading', title: section.settings.title %}
          </h2>
        {%- endif -%}

        {%- if section.settings.text != blank -%}
          <div class="section-heading__subheading color-accent">
            <div class="rte {{ section.settings.text_style }}">
              {{ section.settings.text }}
            </div>
          </div>
        {%- endif -%}

        {%- if section.settings.button_label != blank -%}
          <a href="{{ section.settings.button_link }}" class="section-heading__link small-caption tap">
            {{ section.settings.button_label | escape }}

            <div class="section-heading__link-arrow-wrapper " aria-hidden="true">
              <span class="section-heading__link-arrows {% if section.settings.color_scheme == 'soft' %}soft-background--default-text{% endif %}">
                {% render 'icon' with 'arrow-medium' %}
                {% render 'icon' with 'arrow-medium' %}
              </span>
            </div>
          </a>
        {%- endif -%}
      </header>
    {%- endif -%}

    <div class="{% if section.settings.layout == 'fixed' %}container{% endif %}">
      <loess-image-split class="image-split banner banner-mobile--{{ section.settings.height_mobile }} banner-large--{{ section.settings.height_large }} color color-{% if section.settings.inverse_colors %}default{% else %}inverse{% endif %} {% if section.settings.enable_shadow and section.settings.layout == 'fixed' %}shadow{% endif %} {% if section.settings.layout == 'fixed' %}image-split--border-radius{% endif %}">
        {%- capture sizes -%}{% if section.settings.layout == 'full' %}100vw{% else %}min({{ settings.styles_max_width }}px, 100vw - 80px){% endif %}{%- endcapture -%}

        <div class="image-split__panel image-split__panel--first">
          <div
            class="banner__media {% if section.settings.height_mobile == 'auto' %}banner__media--mobile-auto{% endif %} {% if section.settings.height_large == 'auto' %}banner__media--large-auto{% endif %} {% if section.settings.first_image == blank %}image--placeholder{% endif %}"
            parallax="true"
          >
            {%- if section.settings.first_image != blank -%}
              {{-
                section.settings.first_image
                | image_url: width: section.settings.first_image.width
                | image_tag:
                  loading: 'lazy',
                  sizes: sizes,
                  widths: '200,300,400,500,600,700,800,900,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000,3200'
              -}}
            {%- else -%}
              {{ 'lifestyle-1' | placeholder_svg_tag }}
            {%- endif -%}
          </div>

          {%- if section.settings.first_image_text != blank -%}
            <div class="image-split__text">
              <h3>{{ section.settings.first_image_text | escape }}</h3>
            </div>
          {%- endif -%}
        </div>

        <div class="image-split__panel image-split__panel--second">
          <div
            class="banner__media {% if section.settings.height_mobile == 'auto' %}banner__media--mobile-auto{% endif %} {% if section.settings.height_large == 'auto' %}banner__media--large-auto{% endif %} {% if section.settings.second_image == blank %}image--placeholder{% endif %}"
            parallax="true"
          >
            {%- if section.settings.second_image != blank -%}
              {{-
                section.settings.second_image
                | image_url: width: section.settings.second_image.width
                | image_tag:
                  loading: 'lazy',
                  sizes: sizes,
                  widths: '200,300,400,500,600,700,800,900,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000,3200'
              -}}
            {%- else -%}
              {{ 'lifestyle-2' | placeholder_svg_tag }}
            {%- endif -%}
          </div>

          {%- if section.settings.second_image_text != blank -%}
            <div class="image-split__text">
              <h3>{{ section.settings.second_image_text | escape }}</h3>
            </div>
          {%- endif -%}
        </div>

        <div class="image-split__cursor-wrapper">
          <div class="image-split__cursor {% if section.settings.inverse_colors %}image-split__cursor--inverse-colors{% endif %}">
            <div class="image-split__cursor-inner">
              {% render 'icon' with 'drag' %}
            </div>
          </div>
        </div>
      </loess-image-split>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Image split",
  "disabled_on": {
    "groups": ["header", "footer", "custom.overlay"]
  },
  "tag": "section",
  "class": "shopify-section--image-split",
  "settings": [
    {
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "options": [
        {
          "value": "fixed",
          "label": "Fixed width"
        },
        {
          "value": "full",
          "label": "Full width"
        }
      ],
      "default": "fixed"
    },
    {
      "type": "checkbox",
      "id": "enable_shadow",
      "label": "Enable shadow",
      "default": true,
      "info": "Applicable when the layout is set to “Fixed width“"
    },
    {
      "type": "select",
      "id": "height_large",
      "label": "Section height on large screens",
      "options": [
        {
          "value": "x-small",
          "label": "Extra small"
        },
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        },
        {
          "value": "x-large",
          "label": "Extra large"
        },
        {
          "value": "auto",
          "label": "Adapt to first image"
        },
        {
          "value": "fullscreen",
          "label": "Fullscreen height"
        }
      ],
      "default": "medium"
    },
    {
      "type": "select",
      "id": "height_mobile",
      "label": "Section height on mobile",
      "options": [
        {
          "value": "x-small",
          "label": "Extra small"
        },
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        },
        {
          "value": "x-large",
          "label": "Extra large"
        },
        {
          "value": "auto",
          "label": "Adapt to first image"
        },
        {
          "value": "fullscreen",
          "label": "Fullscreen height"
        }
      ],
      "default": "medium"
    },
    {
      "type": "image_picker",
      "id": "first_image",
      "label": "First image"
    },
    {
      "type": "image_picker",
      "id": "second_image",
      "label": "Second image"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 3,
      "step": 0.1,
      "unit": "x",
      "label": "Padding top",
      "default": 1
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 3,
      "step": 0.1,
      "unit": "x",
      "label": "Padding bottom",
      "default": 1
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "checkbox",
      "id": "center_heading_text",
      "label": "Center heading text",
      "default": true
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "select",
      "id": "text_style",
      "label": "Text style",
      "options": [
        {
          "value": "small-subtext",
          "label": "Subtext"
        },
        {
          "value": "large-subtext",
          "label": "Large subtext"
        },
        {
          "value": "body-text",
          "label": "Text"
        },
        {
          "value": "large-body-text",
          "label": "Large text"
        }
      ],
      "default": "small-subtext"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Image split"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "Heading size",
      "options": [
        {
          "value": "h2",
          "label": "Medium"
        },
        {
          "value": "h1",
          "label": "Large"
        },
        {
          "value": "h0",
          "label": "Extra large"
        }
      ],
      "default": "h2"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label",
      "info": "Leave the label blank to hide the button"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
    {
      "type": "text",
      "id": "first_image_text",
      "label": "First image text",
      "default": "Before"
    },
    {
      "type": "text",
      "id": "second_image_text",
      "label": "Second image text",
      "default": "After"
    },
    {
      "type": "select",
      "id": "text_position",
      "label": "Text vertical position",
      "options": [
        {
          "value": "start",
          "label": "Top"
        },
        {
          "value": "center",
          "label": "Middle"
        },
        {
          "value": "end",
          "label": "Bottom"
        }
      ],
      "default": "end"
    },
    {
      "type": "checkbox",
      "id": "inverse_colors",
      "label": "Inverse text and drag colors",
      "default": false
    },
    {
      "type": "range",
      "id": "initial_drag_position",
      "min": 5,
      "max": 95,
      "step": 5,
      "unit": "%",
      "label": "Initial drag position",
      "default": 50
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "Color scheme",
      "options": [
        {
          "value": "soft",
          "label": "Soft"
        },
        {
          "value": "default-with-accent-1",
          "label": "Default"
        },
        {
          "value": "inverse-with-accent-2",
          "label": "Inverse"
        },
        {
          "value": "accent-1",
          "label": "Accent 1"
        },
        {
          "value": "accent-2",
          "label": "Accent 2"
        },
        {
          "value": "accent-3",
          "label": "Accent 3"
        }
      ],
      "default": "default-with-accent-1"
    },
    {
      "type": "checkbox",
      "id": "custom_colors",
      "label": "Override with custom colors",
      "default": false
    },
    {
      "type": "color",
      "id": "color_foreground",
      "label": "Custom foreground color",
      "default": "#212121"
    },
    {
      "type": "color",
      "id": "color_background",
      "label": "Custom background color",
      "default": "#FFFFFF"
    },
    {
      "type": "color_background",
      "id": "color_gradient",
      "label": "Custom background gradient",
      "info": "Optional. Overrides “Custom background color”."
    }
  ],
  "presets": [
    {
      "name": "Image split"
    }
  ]
}
{% endschema %}
