

{% assign obj = page.metafields.custom.selector.value | parse_json %}

{% assign baysObj = obj.bays.value | json %}
{% assign bays = baysObj.bays.value %}
{% assign funcitons = obj.funcitons.value %}
{% assign number = obj.number.value %}
{% assign products = obj.products.value %}
{% assign userType = obj.user_type.value %}

<div class="nas-selector">
  <pre>{{ bays }}</pre>
  <pre>{{ funcitons | json }}</pre>
  <pre>{{ number | json }}</pre>
  <pre>{{ products | json }}</pre>
  <pre>{{ userType | json }}</pre>
</div>


<script type="module">
</script>

{% schema %}
  {
    "name": "Nas selector",
    "settings": [
    ],
    "presets": [
      {
        "name": "Nas selector"
      }
    ]
  }
{% endschema %}