<style>
  .add-box{
    display: flex;
    justify-content: space-between;
    margin: 80px auto;
  }
  .spx-addCart .left-wrapper{
    width: 40%;
  }
  .spx-addCart .right-wrapper{
    width: 60%;
    padding: 0 80px;
  }
  .spx-addCart .bottom{
    display: flex;
    gap: 50px;
    margin-top: 30px;
  }
  .bundle-item{
    width: calc( (100% - 100px) / 2 );
    border: 2px solid;
    padding: 20px;
  }
  .bundle-item a{
    display: flex;
    gap: 20px
  }
  .bundle-item img{
    width: 100px;
  }
</style>

<div class="spx-addCart">
  <div class="container add-box">
    <div class="left-wrapper" data-id="{{ section.settings.product_main.variants.first.id }}">
      <a href="{{ section.settings.product_main.url }}">
        {{- section.settings.product_main.featured_image | image_url: width: section.settings.product_main.featured_image.width | image_tag: is: 'loess-image', loading: 'lazy', sizes: sizes, widths: '200,300,400,500,600,700,800,900,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000,3200', class: 'main-img' -}}
      </a>
      </div>
    <div class="right-wrapper">
      <div class="top">
        <h3>{{ section.settings.product_main.title }}</h3>
        <!-- <p>{{ section.settings.product_main.description }}</p> -->
        <span>{{ section.settings.product_main.price | money_with_currency }}</span>
      </div>
      <div class="bottom">
        {% for block in section.blocks %}
          <div class="bundle-item">
            <a href="{{ block.settings.product_bundle.url }}">
              <div class="img">
                {{- block.settings.product_bundle.featured_image | image_url: width: block.settings.product_bundle.featured_image.width | image_tag: is: 'loess-image', loading: 'lazy', sizes: sizes, widths: '200,300,400,500,600,700,800,900,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000,3200', class: 'main-img' -}}
              </div>
              <div class="info">
                <h4>{{ block.settings.product_bundle.title }}</h4>
                <span>{{ block.settings.product_bundle.price | money_with_currency }}</span>
                
              </div>
            </a>
          </div>  
        {% endfor %}
      </div>
      <button class="add-to-cart">Add To Cart</button>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", (event) => {
    let finals = [];
    const id_main = {{ section.settings.product_main.id }}
    const variants_main = {{ section.settings.product_main.variants | json }}
    let test = {
      product_id: id_main,
      variants_main: variants_main
    }
    finals.push(test);
  
    {% for block in section.blocks %}
      let test = {
        product_id: {{ block.settings.product_bundle.id }},
        variants_main: {{ block.settings.product_bundle.variants | json }}
      }
      finals.push(test);
    {% endfor %}

    console.log('finals=>',finals)
  });

  

  function mergeProductVariants(products) {
      const combinedVariants = [];
      products.forEach(product => {
          product.variants.forEach(variant => {
              const combinedVariant = {
                  productId: product.id,
                  ...variant // Spread the variant properties into the combined object
              };
              // Add the combined object to the combinedVariants array
              combinedVariants.push(combinedVariant);
          });
      });
      return combinedVariants;
  }
  
  // Usage example
  const allProducts = [product1, product2, product3];
  const combinedProductVariants = mergeProductVariants(allProducts);
  console.log(combinedProductVariants);

  
  $('.add-to-cart').click(function(){
        let id = $('.left-wrapper').attr('data-id');
        const items = [
            {
                id: id,
                quantity: 1
            }
        ];
    
        $.ajax({
            type: 'POST',
            url: '/cart/add.js',
            data: JSON.stringify({ items: items }),
            dataType: 'json',
            contentType: 'application/json',
            success: function(response) {
                alert('Products added to cart!');
                // window.location.href = '/cart';
            },
            error: function(error) {
                console.error('Error adding products to cart:', error);
            }
        });
    
  })
  
  
  


</script>

{% schema %}
  {
    "name": "SPX Add To Cart",
    "max_blocks": 2,
    "settings": [
      {
        "type": "product",
        "id": "product_main",
        "label": "Product Main"
      }

    ],
    "blocks": [
    {
      "type": "block",
      "name": "Block",
      "settings": [
        {
          "type": "product",
          "id": "product_bundle",
          "label": "Product Bundle"
        }

      ]
    }
  ],
  "presets": [
    {
      "name": "SPX Add To Cart"
    }
  ]
    
  }
{% endschema %}