<style>
  .add-box{
    display: flex;
    justify-content: space-between;
    margin: 80px auto;
  }
  .spx-addCart .left-wrapper{
    width: 40%;
  }
  .spx-addCart .right-wrapper{
    width: 60%;
    padding: 0 80px;
  }
  .spx-addCart .bottom{
    display: flex;
    gap: 50px;
    margin-top: 30px;
  }
  .bundle-item{
    width: calc( (100% - 100px) / 2 );
    border: 2px solid;
    padding: 20px;
  }
  .bundle-item a{
    display: flex;
    gap: 20px
  }
  .bundle-item img{
    width: 100px;
  }
</style>

<div class="spx-addCart">
  <div class="container add-box">
    <div class="left-wrapper">
      <a href="{{ section.settings.product_main.url }}">
        {{- section.settings.product_main.featured_image | image_url: width: section.settings.product_main.featured_image.width | image_tag: is: 'loess-image', loading: 'lazy', sizes: sizes, widths: '200,300,400,500,600,700,800,900,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000,3200', class: 'main-img' -}}
      </a>
      </div>
    <div class="right-wrapper">
      <div class="top">
        <h3>{{ section.settings.product_main.title }}</h3>
        <!-- <p>{{ section.settings.product_main.description }}</p> -->
        <span>{{ section.settings.product_main.price | money_with_currency }}</span>
      </div>
      <div class="bottom">
        {% for block in section.blocks %}
          <div class="bundle-item">
            <a href="{{ block.settings.product_bundle.url }}">
              <div class="img">
                {{- block.settings.product_bundle.featured_image | image_url: width: block.settings.product_bundle.featured_image.width | image_tag: is: 'loess-image', loading: 'lazy', sizes: sizes, widths: '200,300,400,500,600,700,800,900,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000,3200', class: 'main-img' -}}
              </div>
              <div class="info">
                <h4>{{ block.settings.product_bundle.title }}</h4>
                <span>{{ block.settings.product_bundle.price | money_with_currency }}</span>
                
              </div>
            </a>
          </div>  
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<script type="module">
  let formData = {
   'items': [{
    'id': {{ section.settings.product_main.id }},
    'quantity': 2
    }]
  };
  
  fetch(window.Shopify.routes.root + 'cart/add.js', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify(formData)
  })
  .then(response => {
    console.log(response.json())
    return response.json();
  })
  .catch((error) => {
    console.error('Error:', error);
  });


</script>

{% schema %}
  {
    "name": "SPX Add To Cart",
    "max_blocks": 2,
    "settings": [
      {
        "type": "product",
        "id": "product_main",
        "label": "Product Main"
      }

    ],
    "blocks": [
    {
      "type": "block",
      "name": "Block",
      "settings": [
        {
          "type": "product",
          "id": "product_bundle",
          "label": "Product Bundle"
        }

      ]
    }
  ],
  "presets": [
    {
      "name": "SPX Add To Cart"
    }
  ]
    
  }
{% endschema %}