<style>
    .index-page-fifth {
        width: 100%;
        position: relative;
        height: 700vh;
    }
    .index-page-fifth .index-page-slide-box {
        width: 100%;
        height: 100vh;
        position: sticky;
        left: 0;
        top: 0;
        z-index: 1;
    }

</style>

<div class="index-page-fifth" node-name="fifthPage">
  <div class="index-page-slide-box">
    <div class="index-page-slide-backdrop">
      <div class="product-text text-center">
        <span class="text-gradient">{{ section.settings.title1 }}</span>
      </div>
      <div class="product-title text-center">{{ section.settings.title2 }}</div>
      <div class="station-menus" node-name="fifthMenus">
        {% for block in section.blocks %}
            <div node-name="fifthMenu" data-key="{{ forloop.index0 }}" class="station-menu {% if forloop.first %}selected{% endif %}">
                {{ block.settings.menu }}
                {% if block.settings.menu_sub != blank %}
                    <span class="sub" data-key="{{ forloop.index0 }}">{{ block.settings.menu_sub }}</span>
                {% endif %}
            </div>
        {% endfor %}
      </div>
    </div>

    {% for block in section.blocks %}
        <div node-name="fifthSlide" class="index-page-slide-{{ forloop.index }} {% if forloop.first %}show{% endif %}">
            <div class="index-page-content">
                <div class="product-desc">
                    {{ block.settings.menu_desc }}
                </div>
                {% if block.settings.menu_remark1 != blank or block.settings.menu1_btn != blank %}
                    <div class="fifth-rows">
                        <div class="product-question">{{ block.settings.menu_remark1 }}</div>
                        <a href="{{ block.settings.menu_btn_link }}" class="buy-now">
                            {{- block.settings.menu1_btn -}}
                            <i class="icon"></i>
                        </a>
                    </div>
                {% endif %}
                {% if block.settings.menu_remark2 != blank %}
                    <div class="product-remark">{{ block.settings.menu_remark2 }}</div>
                {% endif %}
            </div>
            {% if block.settings.enable_image %}
                {{ block.settings.menu_pc_backdrop_url | image_url: width: '1920x' | image_tag: class: 'product-img pc-done', loading: 'lazy' }}
                {{ block.settings.menu_mb_backdrop_url | image_url: width: '750x' | image_tag: class: 'product-img mobile-done', loading: 'lazy' }}
            {% else %}
                <div class="product-video product-img">
                    <div class="video-warp">
                        <video node-name="pcVideo" class="screen-video pc-done" src="{{ block.settings.menu_pc_video_url }}" muted loop playsinline webkit-playsinline preload="metadata"></video>
                        <video node-name="mobileVideo" class="screen-video mobile-done" src="{{ block.settings.menu_mb_video_url }}" muted loop playsinline webkit-playsinline preload="metadata"></video>
                    </div>
              </div>
            {% endif %}
        </div>
    {% endfor %}

    <div node-name="fifthSlide" class="index-page-slide-7">
      <div class="index-page-content">
        <div class="product-desc">
          {{ section.settings.menu_desc }}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Index page fifth",
  "class": "shopify-new-index",
  "tag": "section",
  "max_blocks":8,
  "settings": [
    {
      "type": "text",
      "id": "title1",
      "label": "标题一",
      "default": "Automatic Base Station"
    },
    {
      "type": "text",
      "id": "title2",
      "label": "标题二",
      "default": "One Station to Take Care of All"
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "slide",
      "settings": [
        {
            "type": "text",
            "id": "menu",
            "label": "名称",
            "default": "Auto Water Exchange"
        },
        {
            "type": "text",
            "id": "menu_sub",
            "label": "名称 下标",
            "default": "(Optional)"
        },
        {
            "type": "richtext",
            "id": "menu_desc",
            "label": "简介",
            "default": "<p>Forget about filling tanks, lugging them around, dumping dirty water, and accidental spills. easy as a washing machine.</p>"
        },
        {
            "type": "text",
            "id": "menu_remark1",
            "label": "名称备注一",
            "default": "Is This System Right for My Home?"
        },
        {
            "type": "text",
            "id": "menu_remark2",
            "label": "名称备注二",
            "default": "Offered Separately as an Accessory"
        },
        {
            "type": "text",
            "id": "menu_btn",
            "label": "按钮名称",
            "default": "Find Out!"
        },
        {
            "type": "text",
            "id": "menu_btn_link",
            "label": "按钮跳转链接",
            "default": "https://us.narwal.com/pages/automatic-water-exchange-system"
        },
        {
            "type":"checkbox",
            "id":"enable_image",
            "label":"使用图片？否则应用影片",
            "default":true
        },
        {
            "label": "PC背景图",
            "type": "image_picker",
            "info": "1920x 请上传5M以内",
            "id": "menu_pc_backdrop_url"
        },
        {
            "label": "H5背景图",
            "type": "image_picker",
            "info": "750x 请上传5M以内",
            "id": "menu_mb_backdrop_url"
        },
        {
            "label": "PC视频",
            "type": "text",
            "info": "请上传5M以内",
            "id": "menu_pc_video_url",
            "default": "https://cdn.shopify.com/videos/c/o/v/ecc752c45c1e4a4e8b79ab40d3640300.mp4"
        },
        {
            "label": "H5视频",
            "type": "text",
            "info": "请上传5M以内",
            "id": "menu_mb_video_url",
            "default": "https://cdn.shopify.com/videos/c/o/v/af475bf3626d412da3938c6752b2ea41.mp4"
        }
      ]
    }
  ],
  "presets": [
    {
        "name": "轮播滚动",
        "blocks": [
        {
            "type": "slide"
        },
        {
            "type": "slide"
        },
        {
            "type": "slide"
        },
        {
            "type": "slide"
        },
        {
            "type": "slide"
        },
        {
            "type": "slide"
        },
        {
            "type": "slide"
        }
        ]
    }
  ]
}
{% endschema %}
