<style>
.home-fh-blocks{
    margin: 20px;
}
.home-fh-blocks .blocks-container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.home-fh-blocks .blocks-container .item{
    width: calc( (100% - 20px) / 2 );
    height: 800px;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
}
.home-fh-blocks .blocks-container .item:hover img{
    transform: scale(1.1);
    transition: all 0.3s ease 0s;
}
.home-fh-blocks .blocks-container .item img{
    height: 100%;
    object-fit: cover;
    object-position: bottom;
    transition: all 0.3s ease 0s;
}
.home-fh-blocks .blocks-container .item .content-box{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    padding-top: 48px;
}
.home-fh-blocks .blocks-container .item .content-box .title{
    font-size: 32px;
    line-height: 1.2;
}
.home-fh-blocks .blocks-container .item .content-box .content{
    width: 80%;
    margin: 24px auto;
    line-height: 1.2;
}
.home-fh-blocks .blocks-container .item .content-box .btn-box{
    display: flex;
    gap: 28px;
    justify-content: center;
}
.home-fh-blocks .blocks-container .item .content-box .btn-box a:hover{
    color: #6D2412;
}
  @media only screen and (max-width: 768px){
    .home-fh-blocks .blocks-container .item{
        width: 100%;
        height: unset;
    }
  }
  @media only screen and (max-width: 590px){


  }
</style>

<div class="home-fh-blocks">
  <div class="blocks-container">
    {% for block in section.blocks %}
        <div class="item">
            <img class="hide-mb" loading="lazy" src="{{ block.settings.img | img_url: 'master' }}" data-src="{{ block.settings.img | img_url: 'master' }}">
            <img class="hide-pc" loading="lazy" src="{{ block.settings.img_mb | img_url: 'master' }}" data-src="{{ block.settings.img_mb | img_url: 'master' }}">
                <div class="content-box">
                    {% if block.settings.title != blank %}
                            <div class="title">{{ block.settings.title }}</div>
                    {% endif %}
                    {% if block.settings.text != blank %}
                            <div class="content">{{ block.settings.text }}</div>
                    {% endif %}
                    <div class="btn-box">
                        {% if block.settings.link != blank %}
                            <a class="visit-btn btn-progress" href="{{ block.settings.link }}">{{ block.settings.btn_name }}</a>
                        {% endif %}
                        {% if block.settings.link2 != blank %}
                            <a class="visit-btn buy-btn btn-progress" href="{{ block.settings.link2 }}">{{ block.settings.btn_name2 }}</a>
                        {% endif %}
                    </div>
                </div>
        </div>
    {% endfor %}
  </div>
</div>



{% schema %}
  {
    "name": "SPX FixedHeight Blocks",
    "max_blocks": 4,
    "settings": [
    ],
    "blocks": [
    {
      "type": "block",
      "name": "Block",
      "settings": [
        {
          "type": "image_picker",
          "id": "img",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "img_mb",
          "label": "Image mobile"
        },
        {
          "type": "textarea",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "text",
          "id": "btn_name",
          "label": "Button name"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Button Link"
        },
        {
          "type": "text",
          "id": "btn_name2",
          "label": "Button name"
        },
        {
          "type": "url",
          "id": "link2",
          "label": "Button Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "SPX FixedHeight Blocks"
    }
  ]
    
  }
{% endschema %}