<div class="index-page-fifth" node-name="fifthPage">
  <div class="index-page-slide-box">
    <div class="index-page-slide-backdrop">
      <div class="product-text">
        <span class="color">{{ section.settings.title1 }}</span>
      </div>
      <div class="product-title">{{ section.settings.title2 }}</div>
      <div class="station-menus" node-name="fifthMenus">
        {% for block in section.blocks %}
            <div node-name="fifthMenu" data-key="{{ forloop.index0 }}" class="station-menu selected">
                {{ block.settings.menu }}
                {% if block.settings.menu_sub != blank %}
                    <span class="sub" data-key="{{ forloop.index0 }}">{{ block.settings.menu_sub }}</span>
                {% endif %}
            </div>
        {% endfor %}
      </div>
    </div>
    <div node-name="fifthSlide" class="index-page-slide-1 show">
      <div class="index-page-content">
        <div class="product-desc">
          {{ section.settings.menu1_desc }}
        </div>
        <div class="fifth-rows">
          <div class="product-question">{{ section.settings.menu1_remark1 }}</div>
          <a href="{{ section.settings.menu1_btn_link }}" class="buy-now">
            {{- section.settings.menu1_btn -}}
            <i class="icon"></i
          ></a>
        </div>
        <div class="product-remark">{{ section.settings.menu1_remark2 }}</div>
      </div>
      <img
        loading="lazy"
        class="product-img pc-done"
        src="{{ section.settings.menu1_pc_backdrop_url | img_url: '1920x' }}"
        alt=""
      >
      <img
        loading="lazy"
        class="product-img mobile-done"
        src="{{ section.settings.menu1_mb_backdrop_url | img_url: '750x' }}"
        alt=""
      >
    </div>
    <div node-name="fifthSlide" class="index-page-slide-2">
      <div class="index-page-content">
        <div class="product-desc">
          {{ section.settings.menu2_desc }}
        </div>
      </div>
      <img
        loading="lazy"
        class="product-img pc-done"
        src="{{ section.settings.menu2_pc_backdrop_url | img_url: '1920x' }}"
        alt=""
      >
      <img
        loading="lazy"
        class="product-img mobile-done"
        src="{{ section.settings.menu2_mb_backdrop_url | img_url: '750x' }}"
        alt=""
      >
    </div>
    <div node-name="fifthSlide" class="index-page-slide-3">
      <div class="index-page-content">
        <div class="product-desc">
          {{ section.settings.menu3_desc }}
        </div>
      </div>
      <img
        loading="lazy"
        class="product-img pc-done"
        src="{{ section.settings.menu3_pc_backdrop_url | img_url: '1920x' }}"
        alt=""
      >
      <img
        loading="lazy"
        class="product-img mobile-done"
        src="{{ section.settings.menu3_mb_backdrop_url | img_url: '750x' }}"
        alt=""
      >
    </div>
    <div node-name="fifthSlide" class="index-page-slide-4">
      <div class="index-page-content">
        <div class="product-desc">
          {{ section.settings.menu4_desc }}
        </div>
      </div>
      <img
        loading="lazy"
        class="product-img pc-done"
        src="{{ section.settings.menu4_pc_backdrop_url | img_url: '1920x' }}"
        alt=""
      >
      <img
        loading="lazy"
        class="product-img mobile-done"
        src="{{ section.settings.menu4_mb_backdrop_url | img_url: '750x' }}"
        alt=""
      >
    </div>
    <div node-name="fifthSlide" class="index-page-slide-5">
      <div class="index-page-content">
        <div class="product-desc">
          {{ section.settings.menu5_desc }}
        </div>
      </div>
      <img
        loading="lazy"
        class="product-img pc-done"
        src="{{ section.settings.menu5_pc_backdrop_url | img_url: '1920x' }}"
        alt=""
      >
      <img
        loading="lazy"
        class="product-img mobile-done"
        src="{{ section.settings.menu5_mb_backdrop_url | img_url: '750x' }}"
        alt=""
      >
    </div>
    <div node-name="fifthSlide" class="index-page-slide-6">
      <div class="index-page-content">
        <div class="product-desc">
          {{ section.settings.menu6_desc }}
        </div>
      </div>
      <img
        loading="lazy"
        class="product-img pc-done"
        src="{{ section.settings.menu6_pc_backdrop_url | img_url: '1920x' }}"
        alt=""
      >
      <img
        loading="lazy"
        class="product-img mobile-done"
        src="{{ section.settings.menu6_mb_backdrop_url | img_url: '750x' }}"
        alt=""
      >
    </div>
    <div node-name="fifthSlide" class="index-page-slide-7">
      <div class="index-page-content">
        <div class="product-desc">
          {{ section.settings.menu7_desc }}
        </div>
      </div>
      <div class="product-video product-img">
        <div class="video-warp">
          <video
            node-name="pcVideo"
            class="screen-video pc-done"
            src="{{ section.settings.menu7_pc_video_url }}"
            muted
            loop
            playsinline
            webkit-playsinline
            preload="metadata"
          ></video>
          <video
            node-name="mobileVideo"
            class="screen-video mobile-done"
            src="{{ section.settings.menu7_mb_video_url }}"
            muted
            loop
            playsinline
            webkit-playsinline
            preload="metadata"
          ></video>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Index page fifth",
  "class": "shopify-new-index",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title1",
      "label": "标题一",
      "default": "Automatic Base Station"
    },
    {
      "type": "text",
      "id": "title2",
      "label": "标题二",
      "default": "One Station to Take Care of All"
    },
    
    {
      "type": "text",
      "id": "menu2",
      "label": "第二屏名称",
      "default": "Auto Mop Washing"
    },
    {
      "type": "richtext",
      "id": "menu2_desc",
      "label": "第二屏简介",
      "default": "<p>Cleans mops as you would. Spins and washes the mops rapidly against the studded washboard, completely eliminating dirt.</p>"
    },
    {
      "label": "第二屏PC背景图",
      "type": "image_picker",
      "info": "请上传5M以内",
      "id": "menu2_pc_backdrop_url"
    },
    {
      "label": "第二屏H5背景图",
      "type": "image_picker",
      "info": "请上传5M以内",
      "id": "menu2_mb_backdrop_url"
    },
    {
      "type": "text",
      "id": "menu3",
      "label": "第三屏名称",
      "default": "Auto Dual Hot Air Drying"
    },
    {
      "type": "richtext",
      "id": "menu3_desc",
      "label": "第三屏简介",
      "default": "<p>Dual fans & heaters dry mops in 1/2 the time, evenly & safely under optimal 104°F, preventing bacteria & mold growth while smelling fresh.</p>"
    },
    {
      "label": "第三屏PC背景图",
      "type": "image_picker",
      "info": "请上传5M以内",
      "id": "menu3_pc_backdrop_url"
    },
    {
      "label": "第三屏H5背景图",
      "type": "image_picker",
      "info": "请上传5M以内",
      "id": "menu3_mb_backdrop_url"
    },
    {
      "type": "text",
      "id": "menu4",
      "label": "第四屏名称",
      "default": "Auto Dampness Control"
    },
    {
      "type": "richtext",
      "id": "menu4_desc",
      "label": "第四屏简介",
      "default": "<p>Maintains optimal mop dampness to absorb stubborn stains, achieving 2x effective cleaning area (vs industry avg.) on one go.</p>"
    },
    {
      "label": "第四屏PC背景图",
      "type": "image_picker",
      "info": "请上传5M以内",
      "id": "menu4_pc_backdrop_url"
    },
    {
      "label": "第四屏H5背景图",
      "type": "image_picker",
      "info": "请上传5M以内",
      "id": "menu4_mb_backdrop_url"
    },
    {
      "type": "text",
      "id": "menu5",
      "label": "第五屏名称",
      "default": "Auto Solution Dispensing"
    },
    {
      "type": "richtext",
      "id": "menu5_desc",
      "label": "第五屏简介",
      "default": "<p>Automatically refills Freo’s water tank. Precise solution control ensures the optimal clean.</p>"
    },
    {
      "label": "第五屏PC背景图",
      "type": "image_picker",
      "info": "请上传5M以内",
      "id": "menu5_pc_backdrop_url"
    },
    {
      "label": "第五屏H5背景图",
      "type": "image_picker",
      "info": "请上传5M以内",
      "id": "menu5_mb_backdrop_url"
    },
    {
      "type": "text",
      "id": "menu6",
      "label": "第六屏名称",
      "default": "Auto Station Cleaning"
    },
    {
      "type": "richtext",
      "id": "menu6_desc",
      "label": "第六屏简介",
      "default": "<p> Cleans everything, even itself.</p>"
    },

    {
      "label": "第六屏PC背景图",
      "type": "image_picker",
      "info": "请上传5M以内",
      "id": "menu6_pc_backdrop_url"
    },
    {
      "label": "第六屏H5背景图",
      "type": "image_picker",
      "info": "请上传5M以内",
      "id": "menu6_mb_backdrop_url"
    },
    {
      "type": "text",
      "id": "menu7",
      "label": "第七屏名称",
      "default": "Convenient LCD Control"
    },

    {
      "type": "richtext",
      "id": "menu7_desc",
      "label": "第七屏简介",
      "default": "<p>A clean home is one touch away. Simple management from the base station.</p>"
    },
    {
      "label": "第七屏PC背景图",
      "type": "image_picker",
      "info": "请上传5M以内",
      "id": "menu7_pc_backdrop_url"
    },
    {
      "label": "第七屏H5背景图",
      "type": "image_picker",
      "info": "请上传5M以内",
      "id": "menu7_mb_backdrop_url"
    },
    {
      "label": "第七屏PC视频",
      "type": "text",
      "info": "请上传5M以内",
      "id": "menu7_pc_video_url",
      "default": "https://cdn.shopify.com/videos/c/o/v/ecc752c45c1e4a4e8b79ab40d3640300.mp4"
    },
    {
      "label": "第七屏H5视频",
      "type": "text",
      "info": "请上传5M以内",
      "id": "menu7_mb_video_url",
      "default": "https://cdn.shopify.com/videos/c/o/v/af475bf3626d412da3938c6752b2ea41.mp4"
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "slide",
      "settings": [
        {
            "type": "text",
            "id": "menu",
            "label": "名称",
            "default": "Auto Water Exchange"
        },
        {
            "type": "text",
            "id": "menu_sub",
            "label": "名称 下标",
            "default": "(Optional)"
        },
        {
            "type": "richtext",
            "id": "menu_desc",
            "label": "简介",
            "default": "<p>Forget about filling tanks, lugging them around, dumping dirty water, and accidental spills. easy as a washing machine.</p>"
        },
        {
            "type": "text",
            "id": "menu_remark1",
            "label": "名称备注一",
            "default": "Is This System Right for My Home?"
        },
        {
            "type": "text",
            "id": "menu_remark2",
            "label": "名称备注二",
            "default": "Offered Separately as an Accessory"
        },
        {
            "type": "text",
            "id": "menu_btn",
            "label": "按钮名称",
            "default": "Find Out!"
        },
        {
            "type": "text",
            "id": "menu_btn_link",
            "label": "按钮跳转链接",
            "default": "https://us.narwal.com/pages/automatic-water-exchange-system"
        },
        {
            "label": "PC背景图",
            "type": "image_picker",
            "info": "请上传5M以内",
            "id": "menu_pc_backdrop_url"
        },
        {
            "label": "H5背景图",
            "type": "image_picker",
            "info": "请上传5M以内",
            "id": "menu_mb_backdrop_url"
        }
      ]
    }
  ],
  "presets": [
    {
        "name": "轮播滚动",
        "blocks": [
        {
            "type": "slide"
        },
        {
            "type": "slide"
        },
        {
            "type": "slide"
        },
        {
            "type": "slide"
        },
        {
            "type": "slide"
        },
        {
            "type": "slide"
        },
        {
            "type": "slide"
        }
        ]
    }
  ]
}
{% endschema %}
