<style>
  .compare-box2.custom-container{
    margin-top: 160px;
    margin-bottom: 80px;
  }
  .compare-box2 .box-title{
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 80px;
  }
  .compare-box2 .box-wrapper{
    display: flex;
    gap: 16px;
    justify-content: space-between;
  }
  .compare-box2 .box-wrapper .item{
    background: #fff;
    border-radius: 16px;
    overflow: hidden;
    width: calc( (100% - 16px) / 2);
    padding: 40px 0;
  }
  .compare-box2 .p-title{
    font-size: 30px;
    line-height: 38px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 8px;
  }
  .compare-box2 .p-text{
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 32px;
  }
  .compare-box2 .tags-box{
    margin: 0 auto;
    margin-bottom: 8px;
    width: calc((100% - 32px) );
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
  }
  .compare-box2 .tags-box .tag{
    font-size: 16px;
    line-height: 24px;
    border-radius: 4px;
    padding: 4px 8px;
    border: 1px solid #666666;
    color: #666666;
  }
  .compare-box2 .color-box{
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    display: none;
  }
  .compare-box2 .color-box .color-item{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .compare-box2 .color-box .color-item:not(:first-child){
    margin-left: 24px;
  }
  .compare-box2 .color-box .color-item .color{
    display: block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    box-shadow: -2px 3px 2px 0px #0000000D inset;
    margin-bottom: 8px;
  }
  .compare-box2 .color-box .color-item .color-name{
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
  }
  .compare-box2 .btn-box{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 24px;
    margin-top: 16px;
    color: rgba(66, 99, 235, 1);
  }
  .compare-box2 .btn-box .buy{
    margin-right: 42px;
  }
  @media only screen and (max-width: 768px){
    .compare-box2 .box-wrapper{
      gap: 24px;
      flex-wrap: wrap;
    }
    .compare-box2 .box-wrapper .item{
      background: #f5f5f5;
      width: 100%;
      padding: 40px 0 40px;
    }
    .compare-box2.custom-container{
      margin-top: 64px;
      margin-bottom: 64px;
      padding: 0 24px;
    }
    .compare-box2 .box-title{
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 64px;
    }
    .compare-box2 .p-title{
      font-size: 24px;
      line-height: 32px;
    }
    .compare-box2 .color-box{
      padding-bottom: 24px;
      margin-bottom: 24px;
      display: none;
    }
    .compare-box2 .tags-box{
      display: none;
    }
    .compare-box2 .p-text{
      font-size: 16px;
      line-height: 24px;
      margin: 0 auto;
      margin-bottom: 8px;
      width: 65%;
    }
    .compare-box2 .color-box .color-item .color-name{
      font-size: 14px;
      line-height: 20px;
    }
    .compare-box2 .color-box .color-item .color{
      width: 26px;
      height: 26px;
    }
    .compare-box2 .color-box .color-item:not(:first-child){
      margin-left: 19px;
    }
    .compare-box2 .btn-box{
      margin-top: 8px;
      font-size: 14px;
      line-height: 22px;
    }
    .compare-box2 .btn-box .buy{
      margin-right: 32px;
    }
  }
</style>

<div class="compare-box2 section-vertical-spacer container">
  <h2 class="box-title">{{ section.settings.title }}</h2>
  <div class="box-wrapper">
    {% for block in section.blocks %}
      {% assign color_imgs = block.settings.color_svg | split:',' %}
      {% assign color_names = block.settings.color | split:',' %}
      
      <div class="item">
        <h3 class="p-title">{{ block.settings.product_title }}</h3>
        <p class="p-text">{{ block.settings.text }}</p>
        {% if block.settings.tags != blank %}
          {% assign tags = block.settings.tags | split: "," %}
          <div class="tags-box">
            {% for t in tags %}
              <span class="tag">{{ t }}</span>
            {% endfor %}
          </div>  
        {% endif %}
        <img class="hide-mb" src="{{ block.settings.img | img_url:'master' }}">
        <img class="hide-pc"  src="{{ block.settings.img_m | img_url:'master' }}">
        
        <div class="color-box">
          {% if block.settings.color_value != blank %}
            <div class="color-item">
              <span class="color" style="background-color:{{ block.settings.color_value }};"></span>
              <span class="color-name">{{ block.settings.color }}</span>
            </div>
          {% endif %}
          {% if block.settings.color_value2 != blank %}
            <div class="color-item">
              <span class="color" style="background-color:{{ block.settings.color_value2 }};"></span>
              <span class="color-name">{{ block.settings.color2 }}</span>
            </div>
          {% endif %}
        </div>

        <div class="btn-box">
          <a class="buy" href="{{ block.settings.link }}">{{ block.settings.btn_name }}</a>
          <a class="learn" href="{{ block.settings.link2 }}">{{ block.settings.btn_name2 }}</a>
        </div>
      </div>  
    {% endfor %}
  </div>
  
</div>

{% schema %}
  {
    "name": "SPX Compare Product 2",
    "max_blocks": 2,
    "settings": [
    ],
    "blocks": [
    {
      "type": "block",
      "name": "Block",
      "settings": [
        {
          "type": "textarea",
          "id": "product_title",
          "label": "Product title"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Sub title"
        },
        {
          "type": "html",
          "id": "tags",
          "label": "Tags",
          "info": "separate with: ,"
        },
        {
          "type": "image_picker",
          "id": "img",
          "label": "Product image"
        },
        {
          "type": "image_picker",
          "id": "img_m",
          "label": "Product image M"
        },
        {
          "type": "textarea",
          "id": "color_value",
          "label": "Color"
        },
        {
          "type": "textarea",
          "id": "color",
          "label": "Color name"
        },
        {
          "type": "textarea",
          "id": "color_value2",
          "label": "Color2"
        },
        {
          "type": "textarea",
          "id": "color2",
          "label": "Color2 name"
        },
        {
          "type": "text",
          "id": "btn_name",
          "label": "Button name"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Button Link"
        },
        {
          "type": "text",
          "id": "btn_name2",
          "label": "Button name 2"
        },
        {
          "type": "url",
          "id": "link2",
          "label": "Button Link 2"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "SPX Compare Product 2"
    }
  ]
    
  }
{% endschema %}