<style>
    .spx-gs-wrapper{
        max-width:1200px;
        margin:0 auto;
    }
    .spx-gs-items {
        display: flex;
        gap:8px;
        max-width: 49%;
    }
    .spx-gs-item {
        flex: 1;
        text-align: center;
        color:#fff;
        background:#262626;
    }
    .spx-gs-item_img{
        max-width:160px;
        margin:0 auto;
    }
</style>

<div class="spx-gs-container">
    <div class="spx-gs-wrapper">
        <div class="spx-gs-one">
            {% if section.settings.title1 != blank %}<div class="spx-gs-section-title">{{ section.settings.title1 }}</div>{% endif %}
            {% if section.settings.title2 != blank %}<div class="spx-gs-section-subtitle">{{ section.settings.title2 }}</div>{% endif %}
        </div>
        <div class="spx-gs-two">
            <div class="spx-gs-item-details"></div>
            <div class="spx-gs-items">
                {% for block in section.blocks %}
                    {% case block.type %}
                        {% when 'block2' %}
                            <div class="spx-gs-item spx-gs-item_2">
                            {% for i in (1..2) %} 
                                {%- liquid 
                                    assign item_title = 'title0' | append: i
                                    assign item_subtitle = 'subtitle0' | append: i
                                    assign item_image = 'image0' | append: i
                                    assign item_image_aspect = 'image_aspect0' | append: i
                                    assign item_btn = 'btn0' | append: i
                                    assign item_link = 'link0' | append: i
                                -%}
                                <div class="spx-gs-item_box">
                                    <div class="spx-gs-item_title">{{ block.settings[item_title] }}</div>
                                    <div class="spx-gs-item_img">
                                        {{ block.settings[item_image] | image_url: width: master | image_tag: class: 'img', loading: 'lazy' }}
                                    </div>
                                </div>
                            {% endfor %}
                            </div>
                            {% when 'block3' %}
                                <div class="spx-gs-item spx-gs-item_3">
                                {% for i in (1..3) %} 
                                    {%- liquid 
                                        assign item_title = 'title0' | append: i
                                        assign item_subtitle = 'subtitle0' | append: i
                                        assign item_image = 'image0' | append: i
                                        assign item_image_aspect = 'image_aspect0' | append: i
                                        assign item_btn = 'btn0' | append: i
                                        assign item_link = 'link0' | append: i
                                    -%}
                                    <div class="spx-gs-item_box">
                                        <div class="spx-gs-item_title">{{ block.settings[item_title] }}</div>
                                        <div class="spx-gs-item_img">
                                            {{ block.settings[item_image] | image_url: width: master | image_tag: class: 'img', loading: 'lazy' }}
                                        </div>
                                    </div>
                                {% endfor %}
                                </div>
                    {% endcase %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% schema %}
{
  "name": "格子切换",
  "max_blocks":3,
  "settings": [
    {
      "type": "text",
      "id": "title1",
      "label": "标题一",
      "default": "Automatic Base Station"
    },
    {
      "type": "text",
      "id": "title2",
      "label": "标题二",
      "default": "One Station to Take Care of All"
    }
  ],
  "blocks": [
    {
      "type": "block2",
      "name": "block2",
      "settings": [
        {
            "type":"header",
            "content":"第一组"
        },
        {
            "type": "text",
            "id": "title01",
            "label": "名称01",
            "default": "title title title"
        },
        {
            "type": "richtext",
            "id": "subtitle01",
            "label": "描述01",
            "default": "<p>text text text.</p>"
        },
        {
            "type": "image_picker",
            "id": "image01",
            "label": "图片01",
            "info":"320*254px"
        },
        {
            "type": "image_picker",
            "id": "image_aspect01",
            "label": "大图片01"
        },
        {
            "type": "text",
            "id": "btn01",
            "label": "按钮文案01",
            "default": "shop"
        },
        {
            "type": "url",
            "id": "link01",
            "label": "按钮链接01"
        },
        {
            "type":"header",
            "content":"第二组"
        },
        {
            "type": "text",
            "id": "title02",
            "label": "名称02",
            "default": "title title title"
        },
        {
            "type": "richtext",
            "id": "subtitle02",
            "label": "描述02",
            "default": "<p>text text text.</p>"
        },
        {
            "type": "image_picker",
            "id": "image02",
            "label": "图片02"
        },
        {
            "type": "image_picker",
            "id": "image_aspect02",
            "label": "大图片02"
        },
        {
            "type": "text",
            "id": "btn02",
            "label": "按钮文案02",
            "default": "shop"
        },
        {
            "type": "url",
            "id": "link02",
            "label": "按钮链接02"
        }
      ]
    },
    {
      "type": "block3",
      "name": "block3",
      "settings": [
        {
            "type":"header",
            "content":"第一组"
        },
        {
            "type": "text",
            "id": "title01",
            "label": "名称01",
            "default": "title title title"
        },
        {
            "type": "richtext",
            "id": "subtitle01",
            "label": "描述01",
            "default": "<p>text text text.</p>"
        },
        {
            "type": "image_picker",
            "id": "image01",
            "label": "图片01"
        },
        {
            "type": "image_picker",
            "id": "image_aspect01",
            "label": "大图片01"
        },
        {
            "type": "text",
            "id": "btn01",
            "label": "按钮文案01",
            "default": "shop"
        },
        {
            "type": "url",
            "id": "link01",
            "label": "按钮链接01"
        },
        {
            "type":"header",
            "content":"第二组"
        },
        {
            "type": "text",
            "id": "title02",
            "label": "名称02",
            "default": "title title title"
        },
        {
            "type": "richtext",
            "id": "subtitle02",
            "label": "描述02",
            "default": "<p>text text text.</p>"
        },
        {
            "type": "image_picker",
            "id": "image02",
            "label": "图片02"
        },
        {
            "type": "image_picker",
            "id": "image_aspect02",
            "label": "大图片02"
        },
        {
            "type": "text",
            "id": "btn02",
            "label": "按钮文案02",
            "default": "shop"
        },
        {
            "type": "url",
            "id": "link02",
            "label": "按钮链接02"
        },
        {
            "type":"header",
            "content":"第三组"
        },
        {
            "type": "text",
            "id": "title03",
            "label": "名称03",
            "default": "title title title"
        },
        {
            "type": "richtext",
            "id": "subtitle03",
            "label": "描述03",
            "default": "<p>text text text.</p>"
        },
        {
            "type": "image_picker",
            "id": "image03",
            "label": "图片03"
        },
        {
            "type": "image_picker",
            "id": "image_aspect03",
            "label": "大图片03"
        },
        {
            "type": "text",
            "id": "btn03",
            "label": "按钮文案03",
            "default": "shop"
        },
        {
            "type": "url",
            "id": "link03",
            "label": "按钮链接03"
        }
      ]
    }
  ],
  "presets": [
    {
        "name": "格子切换",
        "blocks": [
            {
                "type": "block2"
            },
            {
                "type": "block3"
            },
            {
                "type": "block2"
            }
        ]
    }
  ]
}
{% endschema %}